/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
 body {
      font-family: "Franklin Gothic Medium", "Rockwell", sans-serif;
     font-size: 15px;
     color: white;
     background-image:url("download.png");
     background-size:100%, 100%;
     background-repeat:no-repeat;
     text-align:center;

 }
 
div {
 
}
#games{
 text-align: center;
}
 
 #standardTrans {

   background:rgba(200, 200, 200, 0.3);
   margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;
 }
 
 #insideCenter {
     border-radius: 25px;
     
     margin-top:100px;
     background-color:#4C6D9B;
     opacity:1.0;
     margin-left:20%;
     margin-right:20%;
  
 }
 
 h1 {
     font-family: "Franklin Gothic Medium", "Rockwell", sans-serif;
     font-size: 45px;
     font-weight: bold;
     margin-top:10px;
     color: white;
     text-shadow: 4px 4px #757575;
 }
 
 h2 {
     font-family: "Franklin Gothic Medium", "Rockwell", sans-serif;
     font-size: 25px;
     font-weight: bold;
     color: white;
 }
 
 #notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}